/* Apply to any page with a sidebar */
.page .page__inner-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.page .sidebar {
  flex: 0 0 300px;
  max-width: 300px;
}
.page .page__content {
  flex: 1 1 auto;
  min-width: 0;
}
.page .page__content > h1:first-child {
  margin-top: 0;
}